@import url("utils.css");
@import url("modern-normalize.css");


:root {
    /* --clr-white: hsl(0, 0%, 100%);
    --clr-hoverfont: hsl(240, 100%, 31%);
    --clr-innerbackground: hsl(240, 100%, 31%);
    --clr-mainbg: hsl(0, 0%, 100%);
    --clr-hovereffect: hsl(200, 100%, 99%);
    --clr-black: hsl(0, 0%, 0%);
    --clr-rose: hsl(342, 91%, 50%);
    --clr-lightsmoke: #a19e9e; */

    --size-S: 1em;
    --size-M: 1.2em;
    --size-L: 1.5em;
    --size-XL: 1.8em;
    --size-XXL: 2.8em;
}
  
  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: calc(1.3em - 0.1em);
  }
  
  html {
    scroll-behavior: smooth;
    scrollbar-color: white;
    scrollbar-width: 3px;
  }
  
  
  img,
  video,
  svg,
  canvas,
  picture {
    display: block;
    max-width: 100%;
    user-select: none;
  }
  
  ul,
  li {
    list-style: none;
  }
  
  a {
    text-decoration: none;
    cursor: pointer;
  }
  
  button {
    display: inline-block;
    border: 0;
    padding: 0;
    background: none;
    cursor: pointer;
    color: inherit;
  }
  
  strong {
    font-size: larger;
    font-weight: bold;
    font-style: italic;
    color: var(--clr-rose);
  }

i {
  display: block;
}
  